@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html, body{
        font-family: Proxima Nova, system-ui, sans-serif;
        background-color: #f9f4ef
    }
    .container{
      @apply xs:max-w-fit !important;
    }
}

@layer components{
    .h1{
        @apply font-extrabold
               tracking-wider
             text-[#020826]
               xs:text-2xl
               sm:text-2xl
               md:text-3xl
               md:transition-all
               md:translate-y-1
               md:duration-150 
               lg:text-4xl;
    }
    .h2{
        @apply text-xl 
             text-gray-900
               text-center
               font-extrabold
               tracking-wider
               flex
               justify-center;
    }
    .h3{
        @apply text-lg
             text-gray-700
               text-center
               font-bold;
    }	
    .btn-learning, .btn-proyectos{
        @apply bg-[#8c7851]
               hover:bg-[#716040]
                 rounded shadow-lg
                 hover:transition
                 hover:scale-105
                 text-[#fffffe]
                 font-medium
                 m-2
                 p-2;
    }
    .bi {
        @apply m-2
             hover:fill-sky-500;
    }
}